<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="union.union_vr1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <supports-screens android:anyDensity="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light" >
        <activity
            android:name=".Vistas.VMovil_Menu_Establec"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".Vistas.VMovil_Venta_Producto"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".MyAndroidAppActivityX"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".Vistas.VMovil_Venta_Cabecera"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".Vistas.VMovil_Evento_Establec"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Vistas.VMovil_Venta_Credito"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".Vistas.VMovil_Venta_Comprob"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".Vistas.VMovil_Cobro_Credito"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".Vistas.VMovil_Evento_Indice"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".Vistas.VMovil_Evento_Gasto"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MySQL.DbManager_Evento_Establec_GET"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".MySQL.DbManager_Evento_Establec_POST"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".Vistas.VMovil_Histo_Venta"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".Vistas.VMovil_Canc_Histo"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".Vistas.VMovil_Resumen_Caja"
            android:label="@string/app_name" >

        </activity>
    </application>

</manifest>
